<p style="color: green"><%= notice %></p>

<h1>WISHLIST</h1>

<div id="todo_lists">
  <% @todo_lists.each do |todo_list| %>
    <%= render todo_list %>
    <p>
      <%= link_to "View Wish", todo_list %>
    </p>
  <% end %>
</div>

<%= link_to "New Wish", new_todo_list_path %>
